#intro {
  background: light-dark(linear-gradient(334deg, #e15a97, #fdca40, #eb5e28),
                         linear-gradient(334deg, #a9215a, #714ef0, #140655));
  background-size: 180% 180%;
  animation: gradientAnimation 6s ease infinite;
}

.greeting {
  animation: slideIn 1s;
}

.icon {
  color: light-dark(var(--orange), var(--light-blue));
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}