#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  color: light-dark(var(--mantine-color-blue-8), var(--mantine-color-blue-5));
  font-weight: 700;
  text-decoration: none;
  transition: 0.5s ease;

  @mixin hover {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    transition: 0.5s ease;
  }
}