#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  color: light-dark(var(--orange), var(--light-blue));
  font-weight: 700;
  text-decoration: none;
  transition: 0.5s ease;

  @mixin hover {
    color: light-dark(black, white);
    transition: 0.5s ease;
  }
}