:root {
  line-height: 1.5;

  color-scheme: light dark;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 320px;
  min-height: 100vh;

  --orange: #eb5e28;
  --light-blue: #97ead2;
}
